
body {
    background-color: #aee0ee;
    background-image: url(2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title 
{
    text-align: center;
    text-shadow: 5px 5px 10px rgb(109, 97, 97);
    font-size: 9vh;
    font-weight: bold;
}

img{
        display: block;
        height: 650px;
        width: 65s0px;
        margin-left: auto;
        margin-right: auto;
}

figcaption {
    margin: 10px 0 0 0;
    font-family: Gill Sans;
    text-align: center;
    font-size: 17px;
}

#tribute-data {
    background-color: #80bdce;
    border-radius: 25px;
    box-shadow: 20px 20px 20px #494f61;
    font-family: Georgia;
    width: 90%;
    margin: auto;
}


h1.title-APJ {
    font-size: 35px;
    color: black;
    text-align: center;
    text-shadow: 7px 7px 12px rgb(161, 157, 157);
}

p{
    text-decoration: none;
    color: black;
    margin-left: 70px;
}
#tribute-link a{
    color: blue;
}
a:hover 
    {
        color: #050240;
    }  
